<div 
    [style]="{top: main_node?.position?.top+'px', left: main_node?.position?.left+'px'}" 
    [style.zIndex]="isAddNested ? '220' : ''"
    [ngClass]="isActive?'active' : 'unactive'" 
    id="nodeBox" (dblclick)="clicked($event)"
    #node
    cdkDrag
    (cdkDragEnded)="dragEnded($event)"
    (cdkDragMoved)="drag.emit($event)"
    >

    <h3>{{main_node ? main_node.name : ""}}</h3>
    <div  id="descBox" *ngIf="(descesNested?.length || 0 ) > 0 || isAddNested" (mouseleave)="mouseLeaveDesc()">
        <div cdkDropList [cdkDropListDisabled]="!isActive" id="descList" (cdkDropListDropped)="dropDesc($event)">
            <div class="desc" *ngFor="let desc of descesNested" (mouseover)="mouseOverDesc(desc)" [ngClass]="isActive ? 'dragable' : ''" [cdkDragDisabled]="" cdkDrag>
                {{desc.text}}
                <div class="minus" (click)="delDesc(desc)" *ngIf="isMouseOverDesc && desc === descWithMouse && isActive">-</div>
            </div>
            <div class="desc" *ngIf="isAddNested"><input type="text" id="descInput" #descInput (keyup.enter)="addNested()" [(ngModel)]="textNested"></div>
        </div>
    </div>
    <div id="add" (click)="showDescInput()"  *ngIf="isActive">
        +
    </div>
</div>
<div id="back_area" *ngIf="isAddNested" (click)="isAddNested = false" (dblclick)="isAddNested = false"></div>