#nodeBox{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-color: lightgreen;
    border-radius: 20px;
    padding: 10px 25px;
    text-align:center;
    // transform: translate(-50%, -50%);

    h3{
        user-select: none; 
    }
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.active{
    border: solid 1px #333;
    box-shadow: #222 2px 4px;
    // animation: pulse 1500ms infinite;
}

// @keyframes pulse {
//     0%{
//         box-shadow: lightgreen 0px 0px 0 0 ;
//     }
//     75%{
//         box-shadow: rgba(144,238,144,0.0) 0 0 0 16px;
//     }

// }

#add{
    $size: 40px;
    position: absolute;
    background-color: lightgreen;
    width: $size;
    border-radius: $size;
    line-height: $size;
    text-align: center;
    font-size: $size;
    border: 1px solid #222;
    z-index: 1;
    transform: translate(-50%, 75%);
    bottom: 0;
    left: 50%;
}

#back_area{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 200;
}

#descInput, #descInput:active, #descInput:focus{
    outline: none;
    width: 100px;
    border: none;
    background-color: transparent;
    text-align: center;
}

#descList{
    margin: 6px;
    margin-top: 1px;
    // width: 300px;
    padding: 5px;
}

.desc {
    margin: 5px 10px 0 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: lightgreen;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
  }

.dragable{
    cursor: move;
}

.minus{
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px black solid;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    transform: translate(-100%, 0%);
    color: white;
    background-color: #cf4d3c;
    cursor: pointer;
    // transition: width 100ms ease-in-out, height 100ms ease-in-out, transform 100ms ease-in-out, font-size 100ms ease-in-out, line-height 100ms ease-in-out;

}
// .minus:hover{
//     width: 30px;
//     height: 30px;
//     transform: translate(-50%, 0%);
//     font-size: 25px;
//     line-height: 30px;
// }