#container{
    position: absolute;
    background-color: lightskyblue;
    border-radius: 20px;
    padding: 10px;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align:center;
    user-select: none;
    cursor: pointer;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.active{
    border: solid 1px #333;
    box-shadow: #222 2px 4px;
}


.size-ball{
    width:20px;
    height:20px;
    background-color:red;
    position: absolute;
    border-radius: 20px;
    bottom:0;
    right:0;
    z-index:50;
}
