<div id="container" 
[style.top]="main_node?.position?.top+'px'" 
[style.left]="main_node?.position?.left+'px'" 
(dblclick)="clicked($event)"
cdkDrag
(cdkDragEnded)="dragEnded($event)"
(cdkDragMoved)="drag.emit($event)"
[ngClass]="active ? 'active' : ''"
#node
>   
    <span *ngIf="!hasImage">{{main_node?.text}}</span>
    <img 
    id="image" 
    #image 
    [src]="imageSrc" 
    *ngIf="hasImage"
    [style.height]="imgHeight+'px'"
    >
    <div 
    class="size-ball" 
    cdkDrag
    (cdkDragMoved)="sizeBallDragMoved($event)"
    *ngIf="hasImage"
    ></div>
</div>
