<div class="conteiner">
    <label for="name">Name</label>
    <input id="name" type="text" [(ngModel)]="name">
    <button (click)="onAdd()">Dodaj Node</button>
    <br>
    <label for="desc">Opis</label>
    <input id="desc" type="text" [(ngModel)]="desc">
    Zagnieżdzony
    <input type="checkbox" [(ngModel)]="isNested">
    <button (click)="onDesc()">Dodaj Opis</button>
    <br>
    <label for="connCom">KOmentarz połączenia</label>
    <input id="connCom" type="text" [(ngModel)]="connCom">
    <button (click)="onConnAdd()">Dodaj Opis</button>
    <span *ngIf="connComActive">Zaznacz połączoną node</span>
    <button (click)="save()">Zapisz</button>
    <button (click)="load()">Wczytaj</button>
</div>

<div *ngIf="checkingPos" (click)="positioned($event)" id="black_body">

</div>