.conteiner{
    width:300px;
    float:left;
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    z-index: 20;
    text-align: center;
    *{
        // border: none;
        margin: 10px auto;
        padding: 10px;
        width: 200px;
        display: block;
    }
}
#black_body{
    background-color: rgba(0, 0, 0, 0.123);
    width: 10000px;
    height: 10000px;
    position: absolute;
    top: 0;
    left: 300px;
    z-index: 20;
}