<div id="board">
    <app-node *ngFor="let node of nodesTable" [id]="'node'+node.id" (drag)="drag($event)" (inited)="nodeInited($event)" [main_node]="node"></app-node>
    <app-desctription *ngFor="let desc of descesFree" [id]="'desc'+desc.id" (drag)="drag($event)" (inited)="descInited($event)" [main_node]="desc"></app-desctription>
</div>

<input id="textInput" #textInputt (keyup.enter)="addNode()" name="textInput" [ngClass]="addingNodeType === 1 ? 'addNode':'addDesc'" [(ngModel)]="textInput" [style.top]="clickedTop+'px'" [style.left]="clickedLeft+'px'" *ngIf="isInputText" autofocus>

<div 
    id="arrowsBox" 
    (click)="hideInput()" 
    (mousedown)="startGrabbing($event)" 
    (mousemove)="grabbing($event)"
    (mouseup)="endGrabbing()" 
    (dblclick)="showInputToNode($event)" 
    appDragNDrop 
    (fileDropped)="addImageDesc($event)"
    [ngClass]="!isGrabbing ? 'grab' : 'grabbing'"
>
    <!-- <svg-container containerId="svg-element" [height]="10000" width="100%">
        <svg-line *ngFor="let con of nodeToNode"
        [x0]="(con.one.left)" 
        [x1]="(con.two.left)" 
        [y0]="(con.one.top)" 
        [y1]="(con.two.top)" 
        stroke="black" >
        </svg-line>
        <svg-line *ngFor="let con of descesConns"
        [x0]="(con.one.left)" 
        [x1]="(con.two.left)" 
        [y0]="(con.one.top)" 
        [y1]="(con.two.top)" 
        stroke="black" >
        </svg-line>
    </svg-container> -->
    <!-- <div 
        class="arrow" 
        [style.top]="getArowY(con)+'px'" 
        [style.left]="getArowX(con)+'px'" 
        [style.transform]="'rotate('+getAngle(con)+'deg) translate(-50%, -50%)'" 
        *ngFor="let con of nodeToNode"
        (click)="arrowClicked(con)"
    >
        <div class="arrowInner" >
            <span 
                class="connCom" 
                [style.transform]="'rotate('+((getAngle(con) > 90 && getAngle(con) <= 180) || (getAngle(con) >= -180 && getAngle(con) <= -90) ? 180 : 0)+'deg)'"
                [style.width]="con?.connText == null || con.connText == '' ? '50px' : '215px' "
                *ngIf="!(connTextAdding && selectedConn === con)"
                >
                {{con?.connText}}
            </span>
            <input 
            type="text" 
            [style.transform]="'rotate('+((getAngle(con) > 90 && getAngle(con) <= 180) || (getAngle(con) >= -180 && getAngle(con) <= -90) ? 180 : 0)+'deg)'"
            class="arrowInput" 
            #arrowInput 
            (keyup.enter)="addArrowText()" 
            [(ngModel)]="connTextAdd" 
            *ngIf="connTextAdding && selectedConn === con"
            >

        </div>
    </div> -->
</div>
<div id="ArrowTextPopUp" *ngIf="isShowArrowPopUp">
    <input #arrowInput type="text" (keyup.enter)="submitArrowPopUp()" [(ngModel)]="arrowPopUpText">
    <input type="submit" value="Zatwierdz" (click)="submitArrowPopUp()">
</div>
<div id="backBoard" *ngIf="isShowArrowPopUp" (click)="hideArrowPop()"></div>
<div id="back_area" *ngIf="(connTextAdding)" (click)="connTextAddingClose()"></div>
