#board{
    width: calc(100% - 350px);
    float: left;
}
#arrowsBox{
    width: 10000px;
    height: 10000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    *{
        background-color: transparent;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}
.arrow{
    font-size: 40px;
    position: absolute;
    top: 500px;
    left: 700px;
    width: 220px !important;
    height: 40px !important;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    transform-origin: left;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}
.connCom{
    display: inline-block;
    padding:5px;
    width: 70px;
    font-size: 23px;
    font-weight: 500;
    white-space: pre-line;
    color: purple;
}

#textInput{
    position: absolute;
    z-index: 50;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 30px;
    border-radius: 20px;
    padding: 10px;
}

#textInput:focus {
    outline: none;
    // min-width: 50px;
}

.addNode{
    background-color: lightgreen;
}
.addDesc{
    background-color: lightskyblue;
}
.arrowInner::after, .arrowInner::before{
    content:">";
}
.arrowInput, .arrowInput:focus, .arrowInput:active{
    outline: none;
    border: 1px solid black;
    padding: 7px;
    padding-left: 20px;
    border-radius: 20px;
}

#back_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 200;
}
.grab{
    cursor: grab;
}

.grabbing{
    cursor: grabbing;
    user-select: none;
}

#ArrowTextPopUp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(122, 181, 216);
    border-radius: 20px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;

    width: 400px;
    height: 100px;

    position: fixed;
    top: 100px;
    left: 40%;
    z-index: 10;

    *  {
        height: 40px;
    }
}
#backBoard{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
}